@import url('https://fonts.googleapis.com/css2?family=Kings&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aguafina+Script&family=Kings&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

*{
    margin: 0;
    padding: 0;
    color: #e0e1dd;
    text-align: center;
    text-decoration: none;
}
body{
    height: 500px;
   background-color: #000000;
}
/*----------------------------header--------------------------*/
header{
    height: auto;
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url('../img/fondo 2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
header img{
    width: 100%;
}
#color{
    color: #ffffff;
}
header h4{
    color: #ffba08;
    text-align: right;
    padding-right: 20px;
    padding-top: 5px;
}
header h1{
    color: #ffba08;
    padding-top: 40px;
    padding-bottom: 10px;
    font-family: "Kings", cursive;
    font-weight: 500;
    font-style: normal;
    font-size: 80px;
}
header blockquote{
    padding-bottom: 50px;
    color: #ffba08;
    font-family: "Kings", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 23px;
}
/*-----------------lista-------------*/
.nav{
    text-align: right;
    padding: 10px;
}
.nav li{
    display: inline;
    color: #ffba08;
    font-size: 22px;
}
.nav li a{
    text-decoration: none;
    font-size: 22px;
    color: #ffba08;
}
.nav li a:hover{
    border-bottom: solid 2px #ffba08;
}
/*-----------------lista-------------*/
/*---------------------------section-----------------------------*/
section{
    background-color: #000000;
}
/*---------------------------section principal-----------------------------*/
#principal{
    margin-top: 0;
    padding-top: 20px;
    padding-bottom: 30px;
    background-color: #ffffff;
}
#principal h2{
    font-size: 35px;
    color: #000000;
    padding-bottom: 2%;
}
#div-prin{
    background-color: #000000;
    border-radius: 15px;
    margin-right: 10%;
    margin-left: 10%;
    margin-bottom: 30px;
    padding: 20px;
    text-align: left;
}
#div-prin h3{
    font-size: 30px;
    text-align: center;
    padding-left: 100px;
    margin-right: 120px;
    margin-bottom: 20px;
}
.contenido{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.contenido ol{
    width: 400px;
    padding-left: 30px;
    color: #ffffff;
}
.contenido ol li{
    text-align: left;
    margin-bottom: 8px;
    font-size: 18px;
}
#torta{
    width: 250px;
    height: 200px;
    border-radius: 15px 50px 15px 50px;
    border: solid 2px #ffba08;
}
ol li{
    text-align: left;
}
samp{
    color: #ffba08; 
}

h3{
    color: #ffba08;
}
p{
    color: #ffba08;
}
#link{
    padding-left: 100px;
}
a img{
    width: 80px;
    height: 80px;
}

/*----------------------------------------------------------*/  
